html,body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
 	min-height: 100vh;
	flex-direction: column;

	font-size: 16px;
}
html {
	background-color: rgba(0,0,0,0.07);
}
@font-face {
	font-family: Dense;
	src: url("../fonts/dense.regular.otf") format("opentype");
	src: url("../fonts/dense.regular.woff") format("opentype");
	font-weight: 400; 
}

.site {
	flex: 1;
}
.top {
	background: #b4bfb7; /* Old browsers */
	background: -moz-linear-gradient(45deg, #b4bfb7 0%, #c1c5b7 29%, #bcbeb1 48%, #afa898 84%, #b99683 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #b4bfb7 0%,#c1c5b7 29%,#bcbeb1 48%,#afa898 84%,#b99683 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #b4bfb7 0%,#c1c5b7 29%,#bcbeb1 48%,#afa898 84%,#b99683 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4bfb7', endColorstr='#b99683',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");*/
	/*background-image: url("../img/wallhaven-310735.jpg"); */
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.container { /* interesante */
	max-width: 1200px;
	margin:auto;
}

.logo {
	font-family: 'Dense', sans-serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo h1 {
	font-size: 18em;
	margin:0;
	padding: 0;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-weight: normal;
}
.logo p {
	margin-top: -40px;
	font-size: 5.9em;
	color: #e8e7e7;
	line-height: 0.7;
}
.superior {
	background-color: rgba(40,40,40,0.90);
}

.menu-inferior {
	background-color: #2a5d84;
	background-color: rgba(40,40,40,1);
	color: rgba(255,255,255,0.75);
	padding-top: 15px;
	padding-bottom: 15px;
	
}
.menu-inferior a {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
	font-weight: bold;
}

.menu-inferior ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;

}

.menu-inferior ul li { 
	display: inline; 
	margin-right: 20px;
}

.menu-inferior ul li a {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
	font-weight: bold;
}

.menu-inferior ul li a:hover {
	color: #fff;
}


.features {
	overflow:hidden;
	text-align: center;
}

p {
	margin-bottom: 20px !important;
    font-weight: 300;
    line-height: 1.4;
	font-size: 18px;
	max-width: 80%;
	text-align: center;
	margin: auto;
}
.foot {
	height: 150px;
	background-color: rgba(40,40,40,1);
	color: rgba(255,255,255,0.75);
	font-size: 14px;
	padding-top: 40px;

}

.foot ul {
	margin:0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 20px;
}
.foot ul li {
	display: inline; 
	margin-right: 20px;
}
.foot ul li a {
	font-weight: bold;
}
.foot p {
	color: grey;
	display:inline;
	font-size: 14px;
	margin:0;
	padding:0;
}
.foot a {
	text-decoration: none;
	color: rgba(255,255,255,0.75);
}
.main-logo {
	height: 100px;
}
.texto-central {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
.texto-central h1 {
	margin-bottom: 0px;
}
.iconos-central {
	margin-bottom: 60px;
	margin-top: 40px;
}

.inner-foot {

}