html,body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}
html {
	background-color: rgba(0,0,0,0.07);
}
.site {
	flex: 1;
}
.main {
	min-height: 450px;
	background-image: url(../img/wallhaven-310735.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {

}
.container-1200 {
	width: 1200px;
	margin:auto;
}

.imagen-logo {
	margin-top: 70px;
	text-align: center;
}
.imagen-descripcion {
	min-height: 400px;
	text-align: center;
	margin-bottom: 30px;
}
.superior {
	background-color: rgba(40,40,40,1);
}
.menu-inferior {
	min-height: 50px;
	background-color: rgba(40,40,40,1);
	text-align: center;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	color: rgba(255,255,255,0.75);
}
.menu-inferior a {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
	font-weight: bold;
}
.interior{
		width: 1200px;
		margin:auto;
		border:1px solid black;
}
.menu-inferior ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;

}


.menu-inferior ul li { 
	display: inline; 
	margin-right: 20px;
}

.menu-inferior ul li a {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
	font-weight: bold;
}

.menu-inferior ul li a:hover {
	color: #fff;
}

.description {
	max-width: 1200px;
	margin:auto;
	text-align: center;
}
.features {
	width: 350px;
	text-align: center;
}
.description p {
	margin-bottom: 20px !important;
    font-weight: 300;
    line-height: 1.4;
	font-size: 18px;
	max-width: 80%;
	text-align: center;
	margin: auto;
}
.foot {
	height: 150px;
	background-color: rgba(40,40,40,1);
	color: rgba(255,255,255,0.75);
	font-size: 14px;

}
.foot ul {
	margin-top: 60px;
	padding: 0;
	list-style-type: none;

}
.foot ul li {
	display: inline; 
	margin-right: 20px;
}
.foot ul li a {
	font-weight: bold;
}
.foot p {
	color: grey;
	display:inline;
}
.foot a {
	text-decoration: none;
	color: rgba(255,255,255,0.75);
}
.main-logo {
	height: 100px;
}
.texto-central {
	margin-top: 40px;
	margin-bottom: 40px;
}
.iconos-central {
	margin-bottom: 60px;
	margin-top: 40px;
}

.inner-foot {

	text-align: center;
}